* {
  margin: 10px;
  padding: 10px;
  
}
body{
  
  background-color: #ffd3d3;
}

/*cabecera*/
header {
  color: black;
  background-color: #ffbbc5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;

}

/*Menu*/

.menu {
  margin: auto;
  width: 100%;
  list-style: none;
  justify-content: center;
  text-align: center;
}

ul li {
  margin-top: 5px;
  color: black;
  width: 100%;
  height: 30px;
  text-align: center;
  justify-content: space-between;
  display: inline;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu a {
  color: black;
  text-decoration: none;

}


/*foto*/

img {
  margin: auto;
  display: flex;

}

/*sobre mi*/

.text-container {
  font-size: 20PX;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #333333;
  display: flex;
  text-align: center
}

/*texto descriptivo*/
p {
  font-size: 20PX;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #333333;
  display: inline-block;
  padding: 20px;
  text-align: left;


}

/*proyecto*/
h2 {
  font-size: 20PX;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: #333333;
  display: flex;

}

.img-filmscale {

  background: rgb(255,218,223);
  background: radial-gradient(circle, rgba(255,218,223,1) 0%, rgba(232,158,169,1) 100%); 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
 
}

.cover-description {
  font-size: 20PX;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #333333;
  display: flex;
  padding: 20p
}

/*estudios*/


.estudios {
  width: 100%;
  height: auto;
  text-align: left;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

h2 {
  font-size: 20PX;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #333333;
  display: flex;
  justify-content: center;
  padding: 20p;
  text-align: center;

}

li {
  font-size: 20PX;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #333333;
  display: flex;
  padding: 20p;
  text-align: left;
}

/*periodismo*/

h3 {
  text-align: center;
  text-transform: none;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 18px;

} 

.grid-trabajos-container {
  background-color: #ffd3d3;
  font-size: 18px;
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}


.trabajos-description {
  background-color: #ffd3d3;
  text-align: center;
  padding-top: 20px;
  text-align: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  flex: 1 1 150px;

}


.btn{
  border: 2px solid #fff;
  color: white;
  border-radius: 10px;
  padding: auto;
  background: #ffd3d3;
  align-items: center;
  display:inline-flex;
  
}


/*contacto*/

.title-contacto {
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.contact-row {
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.contact-column {
  width: 45%;
}

.contact-column.left {
  display:block;
  justify-content: left;
}

.contact-column.right {
  display: block;
  justify-content: right;
}

.contact-column label {
  color: #606060;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
}

.contact-column .contact-input-text {
  background: #ffffff;
  border: 0;
  border-bottom: 1px solid black;
  height: 40px;
  width: 100%;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
}

.contact-column textarea {
  background: #ffffff;
  border: 0;
  border-bottom: 1px solid black;
  width: 1200px;

}

.--btn {
  border: 2px solid #fff;
  color: white;
  border-radius: 50px;
  padding: 15px 80px;
  background: #ffd3d3;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: inline-block;

}

  
/*footer*/

.footer {
  width: 100%;
  height: auto;
  text-align: center;
}

.cover-title {
  text-align: center;
  text-decoration: underline;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 20px;
  justify-content: center;
}

li.redes-container {
  margin-top: 10px;
  padding: auto;
  display: inline-flex;
  justify-content: center;


}
/*mobile*/
@media only screen and (min-width: 320px) and (max-width: 576px){
  
}
/*tablet*/
@media only screen and (min-width: 577px) and (max-width: 1200px){

}
/*desktop*/
@media only screen and (min-width: 1201px){

}
@media only screen and (min-width: 320px) and (max-width: 576px) {
  .contenedor {
    width: 100%;
    padding-left: 23px;
  }
}