* {
  margin: 10px;
  padding: 10px;
}

body {
  background-color: #ffd3d3;
}

/*cabecera*/
header {
  color: black;
  background-color: #ffbbc5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/*Menu*/
.menu {
  width: 100%;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

ul li {
  margin: auto;
  padding: auto;
  color: black;
  list-style: none;
  width: 100%;
  height: 30px;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: inline;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu a {
  color: black;
  text-decoration: none;
}

/*contacto*/
.title-contacto {
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contact-row {
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contact-column {
  width: 50%;
}

.contact-column.left {
  display: inline-block;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.contact-column.right {
  display: inline-block;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.contact-column label {
  color: #606060;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
}

.contact-column .contact-input-text {
  background: #ffffff;
  border: 0;
  border-bottom: 1px solid black;
  height: 40px;
  width: 100%;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
}

.contact-column textarea {
  background: #ffffff;
  border: 0;
  border-bottom: 1px solid black;
  width: 1200px;
  display: inline-block;
}

.--btn {
  border: 1px solid #fff;
  color: white;
  border-radius: 10px;
  background: #ffd3d3;
  -o-object-position: auto;
     object-position: auto;
  overflow: hidden;
  text-align: center;
  display: inline-block;
}

/*footer*/
.footer {
  text-align: center;
}

.cover-title {
  text-align: center;
  text-decoration: underline;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

ol li.redes-container {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 1 80px;
  flex: 1 1 1 80px;
  display: inline-block;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
* {
  margin: 10px;
  padding: 10px;
}

body {
  background-color: #ffd3d3;
}

/*cabecera*/
header {
  color: black;
  background-color: #ffbbc5;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/*Menu*/
.menu {
  width: 100%;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

ul li {
  margin: auto;
  padding: auto;
  color: black;
  width: 100%;
  height: 30px;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: inline;
  font-size: 20px;
  font-family: Verdana, Tahoma, sans-serif;
}

.menu a {
  color: black;
  text-decoration: none;
}

/*estudios*/
.estudios {
  width: 100%;
  height: auto;
  text-align: left;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
}

h2 {
  font-size: 20PX;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20p;
  text-align: center;
}

ol li {
  font-size: 20PX;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #333333;
  display: inline-block;
  padding: 20p;
  list-style: none;
}

/*footer*/
.footer {
  text-align: center;
}

.cover-title {
  text-align: center;
  text-decoration: underline;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

ol li.redes-container {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 1 80px;
  flex: 1 1 1 80px;
  display: inline-block;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
* {
  margin: 10px;
  padding: 10px;
}

body {
  background-color: #ffd3d3;
}

/*cabecera*/
header {
  color: black;
  background-color: #ffbbc5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/*Menu*/
.menu {
  width: 100%;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

ul li {
  margin: auto;
  padding: auto;
  color: black;
  width: 100%;
  height: 30px;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: inline;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu a {
  color: black;
  text-decoration: none;
}

/*periodismo*/
.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: BISQUE;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: ROW;
          flex-direction: ROW;
}

.flex-direction div {
  margin: 5px;
  color: white;
  width: 100px;
}

@media (max-width: 300px) {
  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

h3 {
  text-align: center;
  text-transform: none;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: auto;
  padding: auto;
}

h2 {
  margin: auto;
  padding: auto;
}

.grid-trabajos-container {
  background-color: #ffd3d3;
  font-size: 18px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.trabajos-description {
  background-color: #ffd3d3;
  text-align: center;
  margin: auto;
  padding: auto;
  text-align: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 1 80px;
          flex: 1 1 1 80px;
  max-width: 100%;
  min-width: 100%;
}

.btn {
  border: 2px solid #fff;
  color: white;
  border-radius: 10px;
  padding: auto;
  background: #ffd3d3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
}

/*contacto*/
.title-contacto {
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contact-row {
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contact-column {
  width: 50%;
}

.contact-column.left {
  display: inline-block;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.contact-column.right {
  display: inline-block;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.contact-column label {
  color: #606060;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
}

.contact-column .contact-input-text {
  background: #ffffff;
  border: 0;
  border-bottom: 1px solid black;
  height: 40px;
  width: 100%;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
}

.contact-column textarea {
  background: #ffffff;
  border: 0;
  border-bottom: 1px solid black;
  width: 1200px;
  display: inline-block;
}

.--btn {
  border: 1px solid #fff;
  color: white;
  border-radius: 10px;
  background: #ffd3d3;
  -o-object-position: auto;
     object-position: auto;
  overflow: hidden;
  text-align: center;
  display: inline-block;
}

/*footer*/
.footer {
  text-align: center;
}

.cover-title {
  text-align: center;
  text-decoration: underline;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

ol li.redes-container {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 1 80px;
  flex: 1 1 1 80px;
  display: inline-block;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
* {
  margin: 10px;
  padding: 10px;
}

body {
  background-color: #ffd3d3;
}

/*cabecera*/
header {
  color: black;
  background-color: #ffbbc5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/*Menu*/
.menu {
  width: 100%;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

ul li {
  margin: auto;
  padding: auto;
  color: black;
  width: 100%;
  height: 30px;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: inline;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu a {
  color: black;
  text-decoration: none;
}

/*proyecto*/
h2 {
  font-size: 20PX;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img-filmscale {
  background: #ffdadf;
  background: radial-gradient(circle, #ffdadf 0%, #e89ea9 100%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #333333;
}

.footer {
  text-align: center;
}

/*footer*/
.cover-title {
  text-align: center;
  text-decoration: underline;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

ol li.redes-container {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 1 80px;
  flex: 1 1 1 80px;
  display: inline-block;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
* {
  margin: 10px;
  padding: 10px;
}

body {
  background-color: #ffd3d3;
}

/*cabecera*/
.theader {
  color: black;
  background-color: #ffbbc5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/*Menu*/
.menu {
  width: 100%;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

ul li {
  margin: auto;
  padding: auto;
  color: black;
  width: 100%;
  height: 30px;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: inline;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu a {
  color: black;
  text-decoration: none;
}

/*foto*/
img {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*sobre mi*/
.text-container {
  font-size: 20PX;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

/*texto descriptivo*/
p {
  font-size: 20PX;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #333333;
  display: inline-block;
  padding: 20px;
  text-align: left;
}

/*contacto*/
.title-contacto {
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contact-row {
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contact-column {
  width: 50%;
}

.contact-column.left {
  display: inline-block;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.contact-column.right {
  display: inline-block;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.contact-column label {
  color: #606060;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
}

.contact-column .contact-input-text {
  background: #ffffff;
  border: 0;
  border-bottom: 1px solid black;
  height: 40px;
  width: 100%;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
}

.contact-column textarea {
  background: #ffffff;
  border: 0;
  border-bottom: 1px solid black;
  width: 1200px;
  display: inline-block;
}

.--btn {
  border: 1px solid #fff;
  color: white;
  border-radius: 10px;
  background: #ffd3d3;
  -o-object-position: auto;
     object-position: auto;
  overflow: hidden;
  text-align: center;
  display: inline-block;
}

/*footer*/
.footer {
  text-align: center;
}

.cover-title {
  text-align: center;
  text-decoration: underline;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*footer*/
ol li.redes-container {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 1 80px;
  flex: 1 1 1 80px;
  display: inline-block;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
/*# sourceMappingURL=style.css.map */