* {
    margin: 10px;
    padding: 10px;
    
  }
  body{
    
    background-color: #ffd3d3;
  }
  
  /*cabecera*/
  header {
    color: black;
    background-color: #ffbbc5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
  
  }
  
  /*Menu*/
  
  .menu {
    
    width: 100%;
    list-style: none;
    justify-content: center;
    text-align: center;
  }
  
  ul li {
    margin: auto;
    padding: auto;
    color: black;
    width: 100%;
    height: 30px;
    text-align: center;
    justify-content: space-between;
    display: inline;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .menu a {
    color: black;
    text-decoration: none;
  
  }

  /*contacto*/

.title-contacto {
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  }
  
  .contact-row {
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  }
  
  .contact-column {
    width: 50%;
  }
  
  .contact-column.left {
    display: inline-block;
    justify-content: left;
  }
  
  .contact-column.right {
    display: inline-block;
    justify-content: right;
  }
  
  .contact-column label {
    color: #606060;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
  }
  
  .contact-column .contact-input-text {
    background: #ffffff;
    border: 0;
    border-bottom: 1px solid black;
    height: 40px;
    width: 100%;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .contact-column textarea {
    background: #ffffff;
    border: 0;
    border-bottom: 1px solid black;
    width: 1200px;
    display: inline-block;
  
  }
  
  .--btn {
    border: 1px solid #fff;
    color: white;
    border-radius: 10px;
    background: #ffd3d3;
    object-position: auto;
    overflow: hidden;
    text-align: center;
    display: inline-block;
  
  }
  
    
  /*footer*/
  
  .footer {
    text-align: center;
  }
  
  .cover-title {
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
  }
  
  li.redes-container {
    flex:  1 1 1 80px;
    display:inline-block;
    justify-content: center;
  
  
  }
  /*mobile*/
  @media only screen and (min-width: 420px) and (max-width: 576px){
    
  }
  /*tablet*/
  @media only screen and (min-width: 577px) and (max-width: 1200px){
  
  }
  /*desktop*/
  @media only screen and (min-width: 1201px){
  
  }
  