* {
    margin: 10px;
    padding: 10px;
    
  }
  body{
    
    background-color: #ffd3d3;
  }
  
  /*cabecera*/
  header {
    color: black;
    background-color: #ffbbc5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  }
  
  /*Menu*/
  
  .menu {
    
    width: 100%;
    list-style: none;
    justify-content: center;
    text-align: center;
  }
  
  ul li {
    margin: auto;
    padding: auto;
    color: black;
    width: 100%;
    height: 30px;
    text-align: center;
    justify-content: space-between;
    display: inline;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .menu a {
    color: black;
    text-decoration: none;
  }

  /*periodismo*/
  .flex-container{
    display: flex;
    background-color: BISQUE;
    flex-direction: ROW;
  }

  .flex-direction div{
    margin: 5px;
    color: white;
    width: 100px;

  }

  @media (max-width: 300px){
    .flex-container{
      flex-direction: column;
    }
  }

h3 {
    text-align: center;
    text-transform: none;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    padding: auto;
  
  } 
  
  h2{
    margin: auto;
    padding: auto;
  }
  
  .grid-trabajos-container {
    background-color: #ffd3d3;
    font-size: 18px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    
  }
  
  
  .trabajos-description {
    background-color: #ffd3d3;
    text-align: center;
    margin:auto;
    padding: auto;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    flex:  1 1 1 80px;
    max-width: 100%;
    min-width: 100%;
  }
  
  
  
  .btn{
    border: 2px solid #fff;
    color: white;
    border-radius: 10px;
    padding: auto;
    background: #ffd3d3;
    align-items: center;
    display:inline-flex;
    text-align: center;
    
  }
  


  /*contacto*/

.title-contacto {
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  }
  
  .contact-row {
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  }
  
  .contact-column {
    width: 50%;
  }
  
  .contact-column.left {
    display: inline-block;
    justify-content: left;
  }
  
  .contact-column.right {
    display: inline-block;
    justify-content: right;
  }
  
  .contact-column label {
    color: #606060;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
  }
  
  .contact-column .contact-input-text {
    background: #ffffff;
    border: 0;
    border-bottom: 1px solid black;
    height: 40px;
    width: 100%;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .contact-column textarea {
    background: #ffffff;
    border: 0;
    border-bottom: 1px solid black;
    width: 1200px;
    display: inline-block;
  
  }
  
  .--btn {
    border: 1px solid #fff;
    color: white;
    border-radius: 10px;
    background: #ffd3d3;
    object-position: auto;
    overflow: hidden;
    text-align: center;
    display: inline-block;
  
  }
  
    
  /*footer*/
  
  .footer {
    text-align: center;
  }
  
  .cover-title {
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
  }
  
  li.redes-container {
    flex:  1 1 1 80px;
    display:inline-block;
    justify-content: center;
  
  
  }
  
  