* {
    margin: 10px;
    padding: 10px;
    
  }
  body{
    
    background-color: #ffd3d3;
  }
  
  /*cabecera*/
  header {
    color: black;
    background-color: #ffbbc5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  
  /*Menu*/
  
  .menu {
    
    width: 100%;
    list-style: none;
    justify-content: center;
    text-align: center;
  }
  
  ul li {
    margin: auto;
    padding: auto;
    color: black;
    width: 100%;
    height: 30px;
    text-align: center;
    justify-content: space-between;
    display: inline;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .menu a {
    color: black;
    text-decoration: none;
  
  }

  /*proyecto*/
h2 {
    font-size: 20PX;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #333333;
    display: flex;
  
  }
  
  .img-filmscale {
  
    background: rgb(255,218,223);
    background: radial-gradient(circle, rgba(255,218,223,1) 0%, rgba(232,158,169,1) 100%); 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
   
  }
  
  p {
  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333333;
  
    
  }

  .footer {
    text-align: center;
  }
  /*footer*/
  .cover-title {
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
  }
  
  ol li.redes-container {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 1 80px;
            flex: 1 1 1 80px;
    display: inline-block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }