* {
    margin: 10px;
    padding: 10px;
    
  }
  body{
    
    background-color: #ffd3d3;
  }
  
  /*cabecera*/
  header {
    color: black;
    background-color: #ffbbc5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
  
  }
  
  /*Menu*/
  
  .menu {
    
    width: 100%;
    list-style: none;
    justify-content: center;
    text-align: center;
  }
  
  ul li {
    margin: auto;
    padding: auto;
    color: black;
    width: 100%;
    height: 30px;
    text-align: center;
    justify-content: space-between;
    display: inline;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .menu a {
    color: black;
    text-decoration: none;
  
  }

  /*estudios*/


.estudios {
    width: 100%;
    height: auto;
    text-align: left;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
  }
  
  h2 {
    font-size: 20PX;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333333;
    display: flex;
    justify-content: center;
    padding: 20p;
    text-align: center;
  
  }
  
  li {
    font-size: 20PX;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333333;
    display: flex;
    padding: 20p;
    text-align: left;
  }