 body{
     background-color: #ffd3d3;
  }
  
  /*cabecera*/
  header {
    color: black;
    background-color: #ffbbc5;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  /*Menu*/
  
  .menu {
    
    width: 100%;
    list-style: none;
    justify-content: center;
    text-align: center;
  }
  
  ul li {
    margin: auto;
    padding: auto;
    color: black;
    width: 100%;
    height: 30px;
    text-align: center;
    justify-content: space-between;
    display: inline;
    font-size: 20px;
    font-family: Verdana, Tahoma, sans-serif;
  }
  
  .menu a {
    color: black;
    text-decoration: none;
  
  }

  /*estudios*/


.estudios {
    width: 100%;
    height: auto;
    text-align: left;
    display: grid;
    
  }
  
  h2 {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333333;
    display: flex;
    justify-content: center;
    padding: 20p;
    text-align: center;
  }
 

  /*footer*/
  
  .footer {
    text-align: center;
  }
  
  .cover-title {
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
  }
  
  ol li.redes-container {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 1 80px;
            flex: 1 1 1 80px;
    display: inline-block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
 
  
 
  